<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.partimerfinal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PARTIMER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PARTIMERFINAL"
        tools:targetApi="31">
        <activity
            android:name=".chat_cafelicious"
            android:exported="false" />
        <activity
            android:name=".chat_worker"
            android:exported="false" />
        <activity
            android:name=".chat_company"
            android:exported="false" />
        <activity
            android:name=".menu_company_parttime"
            android:exported="false" />
        <activity
            android:name=".menu_company_freelancer"
            android:exported="false" />
        <activity
            android:name=".menu_company"
            android:exported="false" />
        <activity
            android:name=".menu_worker_freelancer"
            android:exported="false" />
        <activity
            android:name=".menu_worker"
            android:exported="false" />
        <activity
            android:name=".menu_worker_parttime"
            android:exported="false" />
        <activity
            android:name=".login_menu_company"
            android:exported="false" />
        <activity
            android:name=".login_menu"
            android:exported="false" />
        <activity
            android:name=".register_menu_company"
            android:exported="false" />
        <activity
            android:name=".login_menu_worker"
            android:exported="false" />
        <activity
            android:name=".register_menu_worker"
            android:exported="false" />
        <activity
            android:name=".register_menu"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>